img#adImg{
    width:100px;
    height:350px;
}

#catContainer{
    margin-left:3px;
}

#categories{
    color:white;
    width:inherit;
    height:500px;
    padding-left:10px;
}

/*#productsDiv {
    justify-content: space-between !important;
}*/

#prodCard {
    border: 1px solid rgb(180,180,180);
    margin-left:20px;
    margin-bottom:10px;
    height:350px;
}

#prodImg{
    height:30%;
    width:70%;
    margin-left:15px;
}

#cardBody{
    width:inherit;
    height:70%;
}

#cardTxt{
    font:bold;
    color:red;
}

h5{
    height:30%;
}

#prodLink{
    width:inherit;
}

#backgroundImg{
    width:inherit;
    height:500px;
}
