img#adImg{
    width:100px;
    height:350px;
}

#backgroundImg{
    width:inherit;
    height:500px;
}

.prev-prods, .next-prods {
    filter: invert(100%);
}

#carousel-example-multi, .carousel-inner.v-2{
    height: 400px;
}

.carousel-inner.v-2 .carousel-item-right.active,
.carousel-inner.v-2 .carousel-item-next {
    transform: translateX(30%);
}

.carousel-inner.v-2 .carousel-item-left.active,
.carousel-inner.v-2 .carousel-item-prev {
    transform: translateX(-30%);
}

.carousel-inner.v-2 .carousel-item-right,
.carousel-inner.v-2 .carousel-item-left {
    transform: translateX(0);
}

