img#adImg{
    width:100px;
    height:350px;
}

#catContainer{
    margin-left:3px;
}

#categories{
    color:white;
    width:inherit;
    height:500px;
    padding-left:10px;
}

#prodCard {
    border: 1px solid rgb(180,180,180);
    margin-left:55px;
    margin-bottom:10px;
    height:400px;
}

#prodImg{
    height:30%;
    width:80%;
    margin-left:10px;
}

#cardBody{
    width:inherit;
    height:70%;
}

#cardTxt{
    font:bold;
    color:red;
}

h5{
    height:30%;
}

#prodLink{
    width:inherit;
}

#backgroundImg{
    width:inherit;
    height:500px;
}

h3{
    color:gray;
    height:10px;
}

.prev-prods, .next-prods {
    filter: invert(100%);
}

#carousel-example-multi, .carousel-inner.v-2{
    height: 400px;
}

.carousel-inner.v-2 .carousel-item-right.active,
.carousel-inner.v-2 .carousel-item-next {
    transform: translateX(70%);
}

.carousel-inner.v-2 .carousel-item-left.active,
.carousel-inner.v-2 .carousel-item-prev {
    transform: translateX(-70%);
}

.carousel-inner.v-2 .carousel-item-right,
.carousel-inner.v-2 .carousel-item-left {
    transform: translateX(0);
}

