body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* my css*/
ul, #myUL {
    list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
    margin: 0;
    padding: 0;
}

/* Style the caret/arrow */
.caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
    transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
    display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
}

nav {
    padding-left: 0px !important;
    padding-right: 0px !important;
    align-items: center;
}

#logoLink {
    margin-left: 30px;
}

#logo {
    width:150px;
    height:60px;
}

#userNav {
    margin: 0 20px 0 150px;
}

#adminNav {
    margin: 0 30px 0 70px;
}

#searchBar {
    border: none;
    border-radius: 20px;
    padding: 7px;
    padding-left: 12px;
}

#btnSearch {
    border-radius: 10px;
}

#btnAddProduct, #btnAddAdvert {
    margin-right: 20px;
}
